{% extends "base.html" %} 
{% block content %}
    <h1>Чтобы проверить что архив не был изменён, введите его sha256 сумму:</h1>
    <input name='hash_sum'></input>

    <div>
      <h2>Что такое sha256?</h2>
        <div class='instruction'>
          Это один из популярных алгоритмов хеширования. Этот алгоритм создаёт
          "отпечаток" -- хеш файла и гарантирует его уникальность. При любом
          изменении файла хеш сильно изменяется. В нашей базе данных записаны
          хеши всех предоставленных нами ранее файлов. Если файл не был изменён,
          то хеш остался прежним и мы предоставим данные об этой записи.
        </div>

      <h2>Как мне получить sha256 для имеющегося у меня архива?</h2>
        <div class='instruction'>
          Если Вы только что сделали запись, то Вам была предоставлен архив для
          загрузки и его хеш. Можете сразу использовать этот хеш для проверки
          того, что такая запись уже есть в нашей базе данных.

          Хеш так же можно посчитать самомстоятельно для любого файла. Проще
          всего для этого воспользоваться командной строкой -- утилиты подсчёта
          контрольных сумм как правило уже предустановлены в любой системе.

          <h3>Linux:</h3>
          <div class='code'>
              sha256sum &lt;filename&gt;
          </div>

          </h3>Windows:</h3>
          <div class='code'>
              certUtil -hashfile &lt;filename&gt; SHA256
          </div>
        </div>

    </div>
{% endblock %}
